base/__init__.py
evaluation/Nodes/__init__.py
evaluation/__init__.py
misc/__init__.py
test/UnitTests/__init__.py
test/__init__.py
test/__pycache__
base/__pycache__
evaluation/Nodes/__pycache__
evaluation/__pycache__
misc/__pycache__
test/__pycache__
test/UnitTests/__pycache__
__pycache__

CEPvenv
settings.json
.vscode

.gitignore